<!-- Site footer -->
<footer id="pageFooter">
    <div class="container">
        <p class="copyright">
            &copy; 2014 Webdevlab.com.ua. · <a href="#">Privacy</a> · <a href="#">Terms</a>
        </p>
    </div>
</footer>