<meta name="google-site-verification" content="AQKGzaMqxRbbmh07KO4823u90EtfcfnwKvu1VJDugVI" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Webshop">
<meta name="author" content="Webdevlab">
<link rel="shortcut icon" href="/img/ico/favicon.ico">

