@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?dsb2xi');
    src:url('../fonts/icomoon.eot?#iefixdsb2xi') format('embedded-opentype'),
    url('../fonts/icomoon.woff?dsb2xi') format('woff'),
    url('../fonts/icomoon.ttf?dsb2xi') format('truetype'),
    url('../fonts/icomoon.svg?dsb2xi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lab:before {
    content: "\e600";
}
.icon-dev:before {
    content: "\e601";
}
.icon-web:before {
    content: "\e602";
}