#pageHeader {
    height: 70px;
    background: #354464;
}

#pageNav {
    margin-bottom: 0;
    min-height: 70px;
    background: transparent;
    border-bottom: none;
}

#pageFooter {
    background: #484a50;
    color: #999999;
    min-height: 100px;
}