/*
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'PT Serif Caption', serif;
font-family: 'Scada', sans-serif;
*/

body {
    color: #333;
    font-family: 'Scada', sans-serif;
}

#contentContainer {
    min-height: 400px;
}

#pageNav.navbar-inverse .navbar-brand {
    color: #fff;
    height: 70px;
    line-height: 40px;
    font-size: 40px;
    margin-right: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}

#pageNav.navbar-inverse
.navbar-nav>li>a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-top: 2px solid transparent;
    line-height: 37px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
}

#pageNav.navbar-inverse .navbar-nav>li>a:hover,
#pageNav.navbar-inverse .navbar-nav>.active>a{
    opacity: .8;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    background: transparent;
}

#pageNav .navbar-toggle {
    margin-top: 17px;
    margin-bottom: 17px;
}

#pageNav .navbar-collapse {
    background: #354464;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
    height: 340px;
    margin-bottom: 60px;
}

.carousel .carousel-inner {
    box-shadow: 0 2px 2px rgba(53, 68, 100, 0.15);
}

.carousel .carousel-indicators {
    margin-bottom: -50px;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    height: 340px;
    background: #fff;
}

.carousel .item .info {
    padding: 30px 30px 30px 40px;
    height: 340px;
}

.carousel .item .info h4 {
    font-family: 'Scada', sans-serif;
    font-size: 1.6em;
    margin-bottom: 0.8em;
}

.carousel .item .info p {
    font-family: 'Scada', sans-serif;
    font-size: 1.2em;
    text-align: justify;
}

.carousel .item .holder {
    background: #336699;
    height: 340px;
    padding: 0;
    overflow: hidden;
}

.carousel .item .holder img {
    height: 100%;
}

.promo-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 200px;
    text-transform: uppercase;
    font-size: 7em;
    color: #fff;
    -webkit-transition: .5s all ease;
}
.promo-circle.web {
    background: #2C96DD;
    text-shadow: 2px 2px 1px #000;
}

.promo-circle.web:hover,
.promo-circle.dev:hover,
.promo-circle.lab:hover {
    cursor: pointer;
}

.promo-circle.web:hover {
    color: #C94421;
    background: #fff;
}

.promo-circle.dev {
    background: #F3C600;
    color: #000;
}
.promo-circle.dev:hover {
    color: #C94421;
    background: #fff;
    text-shadow: 2px 2px 1px #000;
}

.promo-circle.lab {
    background: #1ECD6D;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
}
.promo-circle.lab:hover {
    color: #1ECD6D;
    background: #fff;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}


/* TechStack
------------------------- */

.tech-stack {
    background: #e4e9ee;
    padding: 40px 0;
}

.tech-stack .section-title{
    font-size: 2.2em;
    color: #668bb0;
    text-align: center;
    margin-bottom: 1em;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-right: 0;
        padding-left: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left:  15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left:  0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.copyright {
    margin: 20px 0;
}

/* Skills page
-------------------------------------------------- */
.skills-page
.tab-content {
    padding: 15px;
    margin-top: -1px;
    border: 1px solid #336699;
}

.skills-page .nav-tabs>li.active>a,
.skills-page .nav-tabs>li.active>a:hover,
.skills-page .nav-tabs>li.active>a:focus {
    border: 1px solid #336699;
    border-bottom-color: transparent;
    background: #336699;
    color: #fff;
}

.skills-page .nav-tabs>li>a:hover {
    border-color: #336699 #336699 #eee;
}

.skills-page .skill-item {
    text-align: center;
    background: #eee;
    border: 8px solid #eee;
    box-shadow: 1px 1px 1px #555;
    border-radius: 8px;
    height: 2.6em;
    line-height: 1.9em;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 160px;
    display: inline-block;
    margin-right: 10px;
}

.skills-page .skill-item>div {
    padding: 0 10px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 3px 0px #ccc;
}

.skills-page .skill-item .php { color: #336699; }
.skills-page .skill-item .javascript { color: #000; }
.skills-page .skill-item .java { color: #d60000; }

.skills-page .skill-item .zf { color: #6AB54B; }
.skills-page .skill-item .phalcon { color: #7EC9AD; }
