<section class="container">
    <div class="error-page">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>{{ error_msg }}</h2>
            </div>
        </div>
    </div>
</section>






