<section class="container">
    <div class=" marketing">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>WebAnalytics</h2>
                <p>
                   Зарегистрируйтесь, что бы добавить свой сайт к отслеживанию посещаемости.
                   Это очень просто!!!
                </p>
                <a href="{{ url.get(['for': 'platform']) }}" class="btn btn-success">Войти</a>
                <a href="{{ url.get(['for': 'user-registration']) }}" class="btn btn-primary">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</section>




